@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Tweetinvi.Models.ITweet[]

@{
    ViewData["Title"] = "Twitter Scraper";
}

<link rel="stylesheet" href="css/inputMaterialDesign.css"/>

<form method="post" asp-controller="Home" asp-action="Index">
    <div>
        <input type="text" name="username" class="input-material" required/>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="label-material">Username</label>
    </div>
</form>


//TODO: Maybe make it scale width
@if (Model.Length > 0)
{
    @(await Html.PartialAsync("../PartialViews/_PartialTweetDisplay", Model))
}

@section Scripts {
    <script src="~/bundles/jqueryval"></script>  
}  