@model MVCTwitterScraper.Models.Twitter.UserTweetsModel

@{
    ViewData["Title"] = "Twitter Scraper";
}

<link rel="stylesheet" href="css/inputMaterialDesign.css"/>

<form method="post" asp-controller="Home" asp-action="Index">
    <div>
        <input type="text" name="username" class="input-material" required/>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="label-material">Username</label>
    </div>
</form>


//TODO: Maybe make it scale width
@await Html.PartialAsync("../PartialViews/_PartialTweetDisplay", Model)